{% extends "layouts/layout.twig" %}
{% block index %}
	<section class="index" id="index">
		<div class="wrapper d-flex flex-column align-items-center">
			<div class="success_block mt-4 text-success fw-bold p-3 bg-info bg-opacity-10 border border-info rounded" id="success_block">
				Welcome! You registered
			</div>
			<form action="/store" method="POST" class="mt-4" style="width:400px">
				<h1 class="text-center mt-4 fw-bold">SIGN UP</h1>
				{{ include('./components/input.twig',{error_id: 'error_firstname',name:'firstname',title:'FirstName'}) }}
				{{ include('./components/input.twig',{error_id: 'error_lastname',name:'lastname',title:'LastName'}) }}
				{{ include('./components/input.twig',{error_id: 'error_email',name:'email',title:'Email'}) }}
				{{ include('./components/input.twig',{error_id: 'error_password',name:'password',title:'Password'}) }}
				{{ include('./components/input.twig',{error_id: 'error_password_conf',name:'password_conf',title:'Confirm Password'}) }}
				<input value="Sign up" type="submit" class="btn btn-primary mt-4 w-100" id="submit" disabled>
				<a href="/authorisation" class="btn btn-primary mt-1 w-100" id="signin">Sign in</a>
			</form>
		</form>
	</div>
</section>{% endblock %}
