<div class="text-danger fs-6 mb-1" id={{ error_id }} style="height:18px"></div>
<div class="d-flex justify-content-between">
	<label for={{ name_id }} class="label">{{title}}</label>
	<input type="text" name={{ name }} id={{ name_id }} autofocus>
</div>
